.favs__grid {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 0 4rem;
  gap: 2rem;
}

@media screen and (max-width: 550px) {
  .favs__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 425px) {
  .favs__grid {
    grid-template-columns: 1fr;
  }
}
