.actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: x-large;
}
.subtitle {
  font-size: large;
  margin-top: 2rem;
}

.spinner__container {
  margin-top: 2rem;
}

.empty__text {
  margin-top: 2rem;
  font-size: medium;
}
