.serie__content-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 4vw;
}
.serie__description-box {
  height: 100%;
  width: 100%;
  margin-bottom: 9rem;
}
.serie__description {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
}

.serie__list-title-box {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.serie__list-title {
  font-size: 2.8rem;
  color: #fff;
  margin-bottom: 2rem;
}
