@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

.view-port__width {
  width: 100vw;
}

.view-port__height {
  height: 100vh;
}

:root {
  --main-bg-color: #141414;
}
