@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Inter", sans-serif;
}

.view-port__width {
  width: 100vw;
}

.view-port__height {
  height: 100vh;
}

.center-children {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  gap: 2rem;
}

.main-clip-text {
  text-align: center;
  font-size: 3rem;
  background: -webkit-linear-gradient(135deg, #36d1dc, #5b86e5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.simple-white-text {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.link__style-off {
  text-decoration: none;
}

:root {
  --main-bg-color: #000000;
  --slider-padding: 15rem;
}

/* #141414 */
