.container {
  min-height: fit-content;
  margin-bottom: 5rem;
}
.slider__container {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}

.slider {
  display: flex;
  flex-grow: 0;
  margin: 0 1rem;
  height: auto;
}

.title {
  color: white;
  font-size: 2rem;
  margin-left: 7%;
  font-weight: 700;
}

.handle {
  border: none;
  /* border-radius: 1rem; */
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10;
  margin: 1rem 0;
  padding: 0 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.handle:hover,
.handle:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.handlePrev {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.handleNext {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.slider__right-space {
  display: none;
  flex: 0 0 30%;
  padding: 0;
  max-width: 5%;
  aspect-ratio: 9 / 12;
}
.disabled {
  cursor: default;
}

@media screen and (max-width: 1024px) {
  .slider__container {
    overflow-x: scroll;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 30rem;
  }
  .slider {
    gap: 1rem;
  }
  .handle {
    display: none;
  }
  .slider__right-space {
    display: flex;
  }
}
